{%extends "base.html"%}
  <!-- <head>
    <meta charset="utf-8">
    <title>MusicSuggestor</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
    integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
    integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="about.css" type="text/css">
 </head> -->
  
    <!-- Navigation Bar  -->
    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">MS</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Category
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Soft</a>
              <a class="dropdown-item" href="#">Classic</a>
              <a class="dropdown-item" href="#">Rock</a>
              <a class="dropdown-item" href="#">Rabindra</a>
              <a class="dropdown-item" href="#">Nazrul</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Old</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav> -->
{%block content%}
    <br>
    <!-- Finished Navigation Bar -->
    <!-- Body Content Of Page -->
    <div class="container">
      <!-- row-2 new and notable -->
      <div class="row">
        <div class="col-lg-4 col-md-12">
          <div class="image">
            <img src="img/rs.jpg" alt="">
          </div>
        </div>
          <div class="col-lg-4 col-md-12">
            <p style="padding:30px;">
              An alert throat honors an arc shutdown. This schedule flies? An inaccessible baby fumes.
              An assisted diary bashs against the additional salt.
              An alert throat honors an arc shutdown. This schedule flies? An inaccessible baby fumes.
              An assisted diary bashs against the additional salt.
              An alert throat honors an arc shutdown. This schedule flies? An inaccessible baby fumes.
              An assisted diary bashs against the additional salt.
              An alert throat honors an arc shutdown.
            </p>
          </div>
          <div class="col-lg-4 col-md-12">
            <div class="" style="padding: 60px;">
              <p><b>House:</b> Mirpur-1</p>
              <p><b>Email:</b> r_ruman@outlook.com</p>
              <p><b>Phone:</b> 01777777777</p>
              <p><b>Worked at:</b> Crowedflower</p>
              <p><b>Designation:</b> Student</p>
              <img src="img/fa.png" alt="" height="35px" width="35px">
              <img src="img/in.png" alt="" height="35px" width="35px" style="margin-left: 10px;">
            </div>
          </div>
        </div>
        <br><br>
        <div class="row">
          <div class="col-lg-4 col-md-12">
            <div class="" style="padding: 60px;">
              <p><b>House:</b> Mirpur-1</p>
              <p><b>Email:</b> r_ruman@outlook.com</p>
              <p><b>Phone:</b> 01777777777</p>
              <p><b>Worked at:</b> Crowedflower</p>
              <p><b>Designation:</b> Student</p>
              <img src="img/fa.png" alt="" height="35px" width="35px">
              <img src="img/in.png" alt="" height="35px" width="35px" style="margin-left: 10px;">
            </div>
          </div>
          <div class="col-lg-4 col-md-12">
            <p style="padding:30px;">
              An alert throat honors an arc shutdown. This schedule flies? An inaccessible baby fumes.
              An assisted diary bashs against the additional salt.
              An alert throat honors an arc shutdown. This schedule flies? An inaccessible baby fumes.
              An assisted diary bashs against the additional salt.
              An alert throat honors an arc shutdown. This schedule flies? An inaccessible baby fumes.
              An assisted diary bashs against the additional salt.
              An alert throat honors an arc shutdown.
            </p>
          </div>
          <div class="col-lg-4 col-md-12">
            <div class="image">
              <img src="img/Dj.jpg" alt="">
            </div>
          </div>
        </div>
        <!-- row-3 popular song -->
        <div class="row">
          <div class="col-4" id="footerRow">
            <div id="footerRow1">
              <p style="color: white;"><b>Like Us</b></p>
              <img src="img/fa.png" alt="" height="30px" width="30px">
              <img src="img/in.png" alt="" height="30px" width="30px" style="margin-left: 10px;">
            </div>
          </div>
          <div class="col-4" id="footerRow">
            <p id="footerRow2"style><b>Copyright&copy2018</b></p>
          </div>
          <div class="col-4" id="gpt">
            <div class="" style="padding: 5px;">
              <p id="pfooter"><b>Give Us Feedback</b></p>
              <p id="pfooter"><b>Privacy Policy</b></p>
              <p id="pfooter"><b>Terms</b></p>
            </div></div>
        </div>
     
{%endblock%}